[advice]
	detachedHead  = false
	statusHints   = false
	mergeConflict = false

[core]
	autocrlf  = input
	editor    = vim
	abbrev    = 12
	quotepath = false

[fetch]
	prune = true

[format]
	useAutoBase

[help]
	autocorrect = 1

[init]
	defaultBranch = master

[merge]
	tool = vimdiff

[mergetool]
	prompt = false

[pretty]
	Fixes = Fixes: %h (\"%s\")

[rerere]
	enabled = true

[tag]
	forceSignAnnotated = true

[user]
	name       = Jiamu Sun
	email      = barroit@linux.com
	signingkey = EB6F4A6080F544F6

[filter "lfs"]
	clean    = git-lfs clean -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process
	required = true

[filter "etc"]
	clean  = ./scripts/etc-patch.awk filter=clean
	smudge = ./scripts/etc-patch.awk filter=smudge

[lfs "transfer.cad39"]
	remote = wasabi:cad39

[lfs "transfer.blender39"]
	remote = wasabi:blender39
